.commentlist .commentavatar {
	display: flex;
}
.commentlist .comments {
	list-style-type: none;
	background-color: #F5F5F5;
	color: black;
	display: inline-block;
	width: 70%;
	border-radius: 5px;
	margin-left: 60px;
	padding: 10px;
	margin-top: -40px;
}

.commentlist .comments li {
	color: black;
}

.commentlist .comment-username {
	font-size: 1.1em;
}

.commentlist .deletebutton {
	color: rgb(250, 70, 70);
	font-weight: 500;
	display: flex;
	float: right;
	font-size: 0.9em;
}

.commentlist .deletebutton:hover {
	cursor: pointer;
	opacity: 0.7;
}
