.newcomment {
	.centertextarea {
		display: flex;
		justify-content: center;
	}
	.centertextarea .commenttextarea {
		border-radius: 5px;
		margin-top: 5px;
		width: 60%;
		margin-left: 25px;
		display: flex;
		align-items: center;
		background-color: #F5F5F5;
		color: black;
		border: 1px solid #222b45;
		padding: 0.4rem 0.6rem;
	}
	
	.validation {
		color: red;
	}
	
	::placeholder {
		opacity: .9;
	}
	
	.centertextarea .commenttextarea:focus,
	.centertextarea .commenttextarea:hover
	 {
		outline: none;
		border: 1px solid #3366ff;
	}
	
	.commentlikebuttonflex {
		display: flex;
		justify-content: flex-end;
		margin-right: 55px;
		// align-items: center;
	}

	.commentbutton {
		border: 1px solid #3366ff;
		color: #3366ff;
		text-align: center;
		font-weight: 900;
		border-radius: 5px;
		padding: 0.5rem 0.8rem;
		margin-left: 20px;
		text-transform: uppercase;
		background: linear-gradient(to right, white, #3366ff 50%, white 50%);
		background-clip: text;
		-webkit-background-clip: text;
		background-size: 200% 100%;
		background-position: 110%;
		transition: background-position 350ms ease;
		text-decoration: none;
		width: 180px;
	}

	.commentbutton:hover {
		cursor: pointer;
		color: white;
		background-position: 0 100%;
		-webkit-text-fill-color: transparent;
		box-shadow: 1px 1px 9px #3366ff;
	}
}