.greenButton {
  border: 1px solid #16b446;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  align-items: center;
  width: 120px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to right, white, #16b446 50%, white 50%);
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 110%;
  transition: background-position 275ms ease;
  text-decoration: none;
  color: #16b446;
  background-position: 100% 0;
  transition: 0.5s;
} 

.greenButton:hover {
  cursor: pointer;
  color: white;
  background-position: 0 100%;
  -webkit-text-fill-color: transparent;
  box-shadow: 1px 1px 9px #16b446;
}