.dashboard-page {
	.title {
		display: flex;
		justify-content: center;
	}
	.filter-btns {
		margin-top: -30px;
	}
	.filter-btn {
		padding: 0.3rem 0 0.2rem;
		margin-right: 0.25rem;
		color: #222b45;
		border-radius: 5px;
		width: 84px;
		display: flex;
		justify-content: center;
	}

	.filter-btn:hover {
		cursor: pointer;
		opacity: 0.7;
	}

	.filter-btn-selected {
		opacity: 0.7;
	}

	.filter-btn-all {
		background: #e2e3e5;
		border-color: #d6d8db;
	}

	.filter-btn-css {
		background: #fff3cd;
		border-color: #ffeeba;
	}

	.filter-btn-ruby {
		background: #cce5ff;
		border-color: #b8daff;
	}

	.filter-btn-javascript {
		background: #d4edda;
		border-color: #c3e6cb;
	}
}
.hero {
	text-align: center;
	margin: 40px 0 60px 0;
}
.container {
	// position: absolute;
	margin: 0 1em;
	.post-filter {
		display: flex;
		position: relative;
		top: 1em;
		left: 100px;
		border: 2px solid green;
		padding: 1em;
		width: 90%;
	}
	h1 {
		margin: 1em 0;
	}
	.filter-btn:hover {
		cursor: pointer;
		opacity: 0.7;
	}

	.filter-btn-selected {
		opacity: 0.7;
	}

	.filter-btn-all {
		background: #e2e3e5;
		border-color: #d6d8db;
	}

	.filter-btn-css {
		background: #fff3cd;
		border-color: #ffeeba;
	}

	.filter-btn-ruby {
		background: #cce5ff;
		border-color: #b8daff;
	}

	.filter-btn-javascript {
		background: #d4edda;
		border-color: #c3e6cb;
	}
}

.nav-bar {
	a {
		margin: 1em;
		padding: 0.25em;
	}
	padding: 1em;
	display: flex;
	height: 4em;
	background-color: lightslategrey;
	align-items: center;
}
.form-group {
	padding: 1em;
	margin: auto;
	border: 1px solid black;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	textarea {
		height: 5em;
		width: 80%;
	}

	.Editor_postbtn__1W8GX {
		display: inline-block;
		width: 5em;
	}
}
.PostListItem_floatright__1lDRs {
	margin: 1em;
	padding: 0.25em;
}

ul .card {
	border: solid 1px blue;
	padding: 2em;
	margin: 1em 0;
}

.PostListItem_postbody__28kSb {
	border: 2px solid red;
	display: inline-block;
	width: 15%;
}

.form-check-label {
	margin: 2em 0;
}
